body {
  background-color: #1e2931;
}

.searchContainer {
  width: 80%;
  margin: 30px auto 0 auto;
}
.searchBox {
  width: 100%;
  padding: 10px;
  text-align: center;
}
.error {
  text-align: center;
}
.movieWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 170px;
}
.moviecard {
  margin: 15px;
  /* border: 1px solid black; */
  box-sizing: border-box;
  width: 15%;
  height: 17%;
  box-shadow: 30px solid white;
}

.posterimage {
  width: 100%;
}
.cardtitle {
  color: #1e2931;
  box-shadow: 30px rgb(225, 88, 88);
  cursor: pointer;
}
.cardtitle:hover {
  color: white;
  font-size: large;
  margin: 5px;
  cursor: pointer;
}
